@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

#content{
    float: left;
    width: 75%;
}

header{
    display: inline;
}
.jumbotron{
    font-size: 20px;
    padding: 60px;
    background-color: #03f0fc;
    text-align: center;
    color: white;
}
nav{
    background-color: #00a2c7;
    padding: 5px;
    min-width: auto;
    position: sticky;
    top: 0;
}

nav a{
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;   
    padding: 5px 10px;

}
nav li {
    display: inline-block;
    margin-left: 20px;
    list-style-type: none;
}
nav a:hover{
    font-weight: bold ;
    color: blue;
}

.profile header{
    text-align: center;
}
.profile img{
    width: 200px;
    height: 200px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    padding: 20px;
    margin-top: 20px;
}

.featured-images{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    min-width: 100%;
}

main{
    padding: 20px;
}

body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}
h2{
    color: aqua;
}
h3{
    color: aqua;
}
footer{
    padding: 20px;
    color: white;
    background-color: #00a2c7;
    text-align: center;
    font-weight: bold;
}
aside{
    float: right;
    width: 25%;
    padding-left: 20px;
}
@media screen and (max-width: 768px){
    #content,
    aside{
        width: 100%;
        padding: 0;
    }
}